@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{}

body{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

.home__header{
    width: 100vw;
    text-align: center;
    padding: 10px;

    color: goldenrod;
}

.home__title{
    text-transform: uppercase;
}

.home__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 10px 0 0 0;
}

.subtitle{
    width: 100%;
    padding: 10px 0;

    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    background-color: goldenrod;
}

.icon{
    border: 1px solid black;
    background-color: darkred; 
}

.desktop__games{
    display: flex;
    width: 100%;
    height: 50%;
}

.desktop__row{
    width: 60%;
}

.desktop__row--2{
    width: 40%;
}

.luck__games{
    display: flex;
    width: 100%;
    height: 50%;
}

.luck__row{
    width: 50%;
}

.luck__row--2{
    width: 50%;
}

.snake__icon{
    width: 100%;
    height: 100%;

    background-image: url('./images/star-wars-cover.jpg');
    background-size: contain;
}
.space-invaders__icon{
    width: 100%;
    height: 50%;

    background-image: url('./images/snake-cover.png');
    background-size: cover;
}
.another-game__icon{
    width: 100%;
    height: 50%;

    background-image: url('./images/space-invaders-cover.jpg');
    background-size: cover;
}

.roll__icon{
    height: 35%;
    width: 100%;

    background-image: url('./images/rock-paper-scissor-cover.png');
    background-size: contain;
}
.blackjack__icon{
    height: 65%;
    width: 100%;

    background-image: url('./images/blackjack-cover.jpg');
    background-size: cover;
}
.rock-paper-scissor__icon{
    height: 100%;
    width: 100%;

    background-image: url('./images/jackpot-cover.png');
    background-size: cover;
}


.special__game{
    width: 100%;
}

.special-game__button{
    font-family: 'Press Start 2P', cursive;

    width: 100%;
    margin: 20px 0 0 0;
    padding: 10px;
    border: none;
    border-radius: 3px;

    background-color: goldenrod;
    color: #fff;

    text-transform: uppercase;
    font-size: 15px;
}