@import url('../../styles/default-style.css');

/* VARIÁVEIS */
:root{
    --body-title-color:whitesmoke;
    --border-color:gray;
    --slots-figure-background-color:#0E0B16;

    --button-background-color:#ac2e2f;
    --button-hover-background-color:#ce1b1b;

    --result-border-color:whitesmoke;
    --result-text-color:whitesmoke;

    --font-family: "Press Start 2P", cursive;
    --desktop-font-size:16px;
    --mobile-font-size:12px;
}

.rps__header{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 50px 0 30px;
    font-size: 20px;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: var(--font-family);
}

.slots{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.slots figure{
    width: 45vw;
    height: 150px;
    margin: 1px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    background-color: var(--slots-figure-background-color);
}

figure img{
    width: 100%;
}

#play{
    border:1px solid var(--border-color);
    border-radius: 3px;
    width: 90%;
    max-width: 350px;
    text-transform: uppercase;
    background-color: var(--button-background-color);
    color: var(--body-title-color);
    padding: 10px;
    font-family: var(--font-family);
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

div.options{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

div.options button{
    background-color: transparent;
    border-radius: 3px;
}

button img{
    width: 50px;
    height: 50px;
}

#play:hover{
    background-color: var(--button-hover-background-color);
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 350px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--result-border-color);
    color: var(--result-text-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
}

/* MEDIA QUERY */

@media only screen and (min-width:768px){
    /* GERAL */

    body{
        font-size: var(--desktop-font-size);
    }

    /* HEADER */

    .desktop{
        display: unset;
    }

    #sub-menu{
        display: none;
    }

    header ul li a{
        margin-right: 15px;
        text-transform: uppercase;
    }

    /* MAIN */

    main{
        padding: 0;
        width: 100vw;
        justify-content: center;
    }
    
    .banner figure{
        width: 38%;
    }
    
    .slots{
        display: flex;
    }

    .slots figure{
        width: 20vw;
        height: 200px;
        margin: 1px;
        border: 1px solid gray;
        border-radius: 5px;
        display: flex;
    }
    
    figure img{
        max-width: 100%;
    }

    #play{
        width: 50%;   
    }

    #result{
        width: 50%;
    }

    button img{
        width: 75px;
        height: 75px;
    }

}

@media only screen and (min-width:1024px){
    .banner figure{
        width: 30%;
    }
}