@import url('./default-style.css');

:root{
    --home-color:#dedede;
    --header-color:goldenrod;
    --btn-bg-color:rgb(158, 120, 23);
    --btn-bg-hover-color:goldenrod;
    --btn-hover-color:#fff;
}


.home__content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;

    color: var(--home-color);
}

.characters{
    display: flex;
    margin: 30px 0 50px;
}

.character{
    width: 100px;
    height: 100px;

    transition: all .4s ease;
}

.character--1{
    animation: fromLeft 1s linear;
}

.character--2{
    animation: fromTop 1s linear;
}

.character--3{
    animation: fromRight 1s linear;
}

.character:hover{
    transform: scale(1.1);
}

.home__header{
    text-transform: uppercase;
    margin: 0 0 30px;

    color: var(--header-color);
}

.home__header h2{
    margin-bottom: 15px;
}

.home__header h1{
    margin-top: 15px;
    font-size: 40px;
}

.home__list{
    text-transform: uppercase;

    animation: appears 2s ease;
}

.home__list li:not(:first-child){
    margin-top: 15px;
    font-size: 15px;
}

.home__button{
    text-transform: uppercase;
    margin: 20px 0 0;
    padding: 8px 10px;
    width: 150px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    font-family: "Press Start 2P", cursive;
    background-color: var(--btn-bg-color);
    transition: all .3s linear;
}

.home__button:hover{
    background-color: var(--btn-bg-hover-color);
    color: var(--btn-hover-color);
    transform: scale(1.1);
}

@media only screen and (min-width:768px){
    .character{
        width: 200px;
        height: 200px;
    }
}
